APP_ID= # Fill in your GitHub App ID here, e.g., 4454908
PRIVATE_KEY_PATH= # Fill in the path to your private key file here, e.g., ./riskledger.private-key.pem
WEBHOOK_PROXY_URL= # Fill in your webhook proxy URL here, e.g., https://smee.io/suWt8HOcvQ2hsS
WEBHOOK_SECRET= # Fill in your webhook secret here
RISKLEDGER_REPO_PATH= # Fill in the path to your local RiskLedger repository here, e.g., c:\Users\Mayen\Documents\GitHub\reviwa.